rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow new users to be created
    match /users/{userId} {
      allow create: if request.auth != null;
      
      // Allow users to read and write only their own data
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
